.feature-box {
  @extend %fontsize;

  background-color: rgba($color-white, 0.8);
  font-size: 1.5em;
  padding: 2.5em;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5em 4em rgba($color-black, 0.15);
  transition: transform 0.3s;

  @include respond(tab-port) {
    padding: 2em;
  }

  &__icon {
    height: 4em;
    width: 4em;

    margin-bottom: 1em;
    display: inline-block;
    fill: $color-primary-light;
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-port) {
      margin-bottom: 0;
      height: 3em;
      width: 3em;
    }
  }

  &:hover {
    transform: translateY(-1.5em) scale(1.03);
  }
}
